
alias dotcfg='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# basic directory commands
alias 'cd..'=' cd ..'
alias '..'='cd ..'
alias '...'='cd ../..'
alias 'cdto'='cdto() { cd $(which $1 | xargs dirname); }; cdto ' # cd to the directory of the file (find on path)
alias 'cdf'='cdf() { cd $(dirname $1); }; cdf ' # cd to the directory of the passed file

alias 'l'='ls -hF'
alias 'll'='ls -hlF'
alias 'lll'='ls -halF'

# shell (bash) usability
alias 'save'='history -a' # write out the current session history to disk
alias 'incognito'='export HISTFILE=' # for the current session, do not write history

# specific, common applications
alias 'dc'='docker-compose'
alias 'kc'='kubectl'
alias 'ta'='ta() { tmux attach ${1:+"-t $1"}; }; ta'
alias 'date_str'='date "+%Y%m%d_%H%M%S"'
alias du0="du --max-depth=0 -h"
alias du1="du --max-depth=1 -h"
alias sshq="ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
