[alias]
	aliases = ! "git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /"
	blamer = "blame -w -C -C -C"
	co = "checkout"
	contrib = "shortlog --summary --numbered"
	contributors = contrib
	cp = "cherry-pick"
	del = "rm --cached"
	drop = "rm --cached -r"
	f = "fetch --tags --prune"
	loga = "log --all"
	logg = "log --graph"
	pushf = "push --force-with-lease"
	root = "rev-parse --show-toplevel"
	s = "status"
	tack = "commit --amend --no-edit"
	tar = ! "tar() { git archive --format tar --prefix=\"${PWD##*/}/\" HEAD -o ${1}; }; tar"
	tgz = ! "targz() { git archive --format tar.gz --prefix=\"${PWD##*/}/\" HEAD -o ${1}; }; targz"
	zip = ! "zip() { git archive --format zip --prefix=\"${PWD##*/}/\" HEAD -o ${1}; }; zip"

	# Pretty log of commits. Supports options of git log
	# https://www.kernel.org/pub/software/scm/git/docs/git-log.html#_pretty_formats
	log-pretty = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an - %aE>%Creset' --abbrev-commit

[apply]
	# detect whitespace errors when applying a patch
	whitespace = warn

[branch]
        sort = -committerdate

[commit]
	template = ~/.gitmessage

[core]
	#convert to LF
	autocrlf = false
	# will use EDITOR env var
	eol = lf
	excludesfile = ~/.gitignore_global
	fscache = true # only functional on windows

	# Speed up commands involving untracked files such as `git status`.
	# does not work correctly on Google Drive virtual device
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

[diff "bin"]
  # Use `hexdump` to diff binary files
  textconv = hexdump -v -C

[help]
	# automatically executes the top suggestion in N/10 seconds
	autocorrect = 20

[init]
  defaultBranch = main

[merge]
	# creates a commit even if the merge could just fast-forwardd
	ff = false

[pull]
	# default pulls to not start a merge; run git pull --no-ff to
	ff = only

[push]
	default = upstream

[user]
	email = jhollowe@johnhollowell.com
	name = John Hollowell

# rerere caches how you resolve a merge conflict so if you make that merge again, it will automatically resolve
[rerere]
	enabled = true

# Allow per-host customizations in the .gitconfig_local file
# these changes override this config; this should be very rarely used
[include]
	path = ~/.gitconfig_local
